@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
@import "../node_modules/tailwindcss/base";
@import "../node_modules/tailwindcss/components";
@import "../node_modules/tailwindcss/utilities";
@import "../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
#howto {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  textarea {
    resize: none;
  }
  .howto-admin {
    background-color: #fff;
    padding: 1.5rem;
    margin-top: 1.5rem;
    @apply rounded-lg max-w-3xl;
    overflow: hidden;
  }
  .progress-bar {
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      @apply bg-gray-400;
      @extend .y-align;
    }
    .progress-line {
      content: "";
      height: 2px;
      @apply bg-indigo-500;
      @extend .y-align;
      @apply transition-all duration-300;
    }
  }
  .input {
    @apply bg-gray-200 px-2 border-none rounded-none;
    &:focus {
      @apply outline-none border-gray-900 shadow-none;
    }
  }
  .y-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .xy-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .create-steps-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    > div:not(:last-child) {
      border-bottom: 1px solid theme("colors.gray.400");
    }
  }
  .step-wrapper {
    > div:not(:last-child) {
      border-right: 1px solid theme("colors.gray.400");
    }
  }

  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  .slide-enter,
  .slide-exit {
    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
  }
  .slide-enter {
    transition-delay: 1s;
  }

  // .slide-enter-active,
  // .slide-exit-active {
  //   transition: transform 4000ms ease-in-out, opacity 4000ms ease-in-out;
  // }

  .slide-enter {
    opacity: 0;
    transform: translateX(20px);
  }

  .slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }

  .slide-exit {
    opacity: 1;
    transform: translateX(0%);
    // position: absolute;
    // // top: 0;
    // // left: 0;
  }

  .slide-exit-active {
    opacity: 0;
    transform: translateX(20px);
  }
}
